.jumbotron {
  padding-top: 3rem;
  background-color: #5f5f5f;
}

#About {
  background-color: #373737;
}

#Gallery {
  background-color: #5f5f5f;
}

#Contact {
  background-color: #373737;
}

#Sosmed {
  background-color: #5f5f5f;
}

section {
  padding-top: 5rem;
}

/* Button sosmed */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Jarak antara tombol */
  margin-top: 20px; /* Menambahkan margin atas */
}

.button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.button svg {
  color: white;
  width: 30px;
  height: 30px;
  z-index: 9;
}

/* Berikan warna berbeda untuk setiap tombol */
.button1 {
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
}

.button2 {
  background: linear-gradient(120deg, #02ff2c, #008a12);
}

.button3 {
  background: rgb(69, 187, 255);
}

.button4 {
  background: rgb(255, 33, 33);
}

.button5 {
  background: black;
}

.button:active {
  transform: scale(0.85);
}

.button::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #212121;
  border-radius: 50px;
  z-index: -1;
  border: 0px solid rgba(255, 255, 255, 0.411);
  transition: 0.4s;
}

.button:hover::before {
  width: 0px;
  height: 0px;
}

/* Button sosmed end */


